# Django Settings
DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=ecommerce_db
DB_USER=admin
DB_PASSWORD=admin
DB_HOST=localhost
DB_PORT=5432

# Redis
REDIS_URL=redis://localhost:6380/0

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5673/

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=product-images
MINIO_USE_HTTPS=False

# Chapa Payment
CHAPA_API_KEY=your-chapa-api-key
CHAPA_WEBHOOK_SECRET=your-chapa-webhook-secret

# Twilio (Simulator)
TWILIO_ACCOUNT_SID=AC65ae0ab2cddd2ff6cb5405c56c372bc2
TWILIO_AUTH_TOKEN=e448df4fdbc54a82940b1968de372e8e
TWILIO_PHONE_NUMBER=+17755996715

# Meilisearch
MEILISEARCH_URL=http://localhost:7700
MEILISEARCH_MASTER_KEY=your-meilisearch-master-key

# Email (for development)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=smuse1756@gmail.com
EMAIL_HOST_PASSWORD='silj sxde rhdz uesg'





# Monitoring
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317 